{
  "root": true,
  "extends": "airbnb-typescript-prettier",
  "rules": {
    "react/react-in-jsx-scope": "off", // Not necessary for react@>=17
    "no-restricted-syntax": "off", // Allow using for-of syntax
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
