{
  "root": true,
  "extends": "airbnb-typescript-prettier",
  "ignorePatterns": ["dist/"],
  "rules": {
    "no-restricted-syntax": "off", // Allow using for-of syntax
    "react/react-in-jsx-scope": "off", // Not necessary for react@>=17
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/no-non-null-assertion": "off" // Will be removed
  }
}
